@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutNew";
}
<font color="white">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

</font>
@section footer
{
    <a asp-action="Index" asp-controller="Product">See Products</a>
}